<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Cate Blanchett</h1>
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/photogallery">Photo Gallery</a></li>
            </ul>
        </nav>
    </header>
    <section id="photoGallery">
        <h2>Photo Gallery</h2>
        <ul id="photoList">
            <li>
                <ul>
                    <li class="title">2023: Screen Actors Guild Awards</li>
                    <li><img class="img" src="/gallery/2023 Screen Actors Guild Awards.avif" alt=""></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="title">2023: Oscars Nominees Luncheon</li>
                    <li><img class="img" src="/gallery/2023 Oscars Nominees Luncheon.avif" alt=""></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="title">2022: Venice Film Festival</li>
                    <li><img class="img" src="/gallery/2022 Venice Film Festival.avif" alt=""></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="title">2018: Ocean’s 8 Premiere</li>
                    <li><img class="img" src="/gallery/2018 Ocean’s 8 Premiere.avif" alt=""></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="title">2016: BAFTAs</li>
                    <li><img class="img" src="/gallery/2016 BAFTAs.avif" alt=""></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="title">2014: Golden Globe Awards</li>
                    <li><img class="img" src="/gallery/2014 Golden Globe Awards.avif" alt=""></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="title">2014: Academy Awards</li>
                    <li><img class="img" src="/gallery/2014 Academy Awards.avif" alt=""></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="title">2011: Academy Awards</li>
                    <li><img class="img" src="/gallery/2011 Academy Awards.avif" alt=""></li>
                </ul>
            </li>
    </section>
</body>
</html>