<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Cate Blanchett</h1>
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/photogallery">Photo Gallery</a></li>
            </ul>
        </nav>
    </header>
    <section id="movies">
        <h2>Favourite movies</h2>
    <ul id = "listOfMovies">
        <li>
            <ul>
                <li class="movieTitle">Tár</li>
                <li><img class="listImage" src="/works/Tár.jpg" alt=""></li>
                <li>Year: 2022</li>
                <li>Genre: Psychological drama</li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="movieTitle">Nightmare Alley</li>
                <li><img class="listImage" src="/works/Nightmare Alley.jpg" alt=""></li>
                <li>Year: 2021</li>
                <li>Genre: Neo-noir psychological thriller</li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="movieTitle">Don't Look Up</li>
                <li><img class="listImage" src="/works/Don't Look Up.jpg" alt=""></li>
                <li>Year: 2021</li>
                <li>Genre: Apocalyptic political satire black comedy film</li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="movieTitle">Where'd You Go, Bernadette</li>
                <li><img class="listImage" src="/works/Where'd You Go, Bernadette.jpg" alt=""></li>
                <li>Year: 2019</li>
                <li>Genre: Comedy drama</li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="movieTitle">Ocean's 8</li>
                <li><img class="listImage" src="/works/Ocean's 8.jpg" alt=""></li>
                <li>Year: 2018</li>
                <li>Genre: Height comedy</li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="movieTitle">Carol</li>
                <li><img class="listImage" src="/works/Carol.jpg" alt=""></li>
                <li>Year: 2015</li>
                <li>Genre: Romantic drama</li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="movieTitle">Manifesto</li>
                <li><img class="listImage" src="/works/Manifesto.jpg" alt=""></li>
                <li>Year: 2015</li>
                <li>Genre: Multi-screen film installation</li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="movieTitle">Blue Jasmine</li>
                <li><img class="listImage" src="/works/Blue Jasmine.jpg" alt=""></li>
                <li>Year: 2013</li>
                <li>Genre: Comedy drama</li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="movieTitle">Hanna</li>
                <li><img class="listImage" src="/works/Hanna.jpg" alt=""></li>
                <li>Year: 2011</li>
                <li>Genre: Action thriller</li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="movieTitle">The Curious Case of Benjamin Button</li>
                <li><img class="listImage" src="/works/The Curious Case of Benjamin Button.jpg" alt=""></li>
                <li>Year: 2008</li>
                <li>Genre: Fantasy romantic drama </li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="movieTitle">Babel</li>
                <li><img class="listImage" src="/works/Babel.jpg" alt=""></li>
                <li>Year: 2006</li>
                <li>Genre: psychological drama</li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="movieTitle">The Lord of the Rings</li>
                <li><img class="listImage" src="/works/Lord of the Rings.jpg" alt=""></li>
                <li>Year: 2001</li>
                <li>Genre: Epic fantasy adventure </li>
            </ul>
        </li>
    </ul>
    </section>
</body>
</html>